@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

.cmd, .cmd span:not(.fas):not(.far):not(.fa){
    --size: 4;
}

.terminal,  .terminal-output>:not(.raw) span:not(.fas):not(.far):not(.fa) {
    font-family: 'Sigmar One', cursive;
    --size: 4;
    color: rgb(181, 96, 231)
}
